* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: fantasy;
}
// Mixins

@mixin left-span {
  margin: 10px 0px;
  border: 1px solid black;
  background-color: black;
  font-size: 20px;
  padding: 5px 10px;
  color: white;
  width: 100%;
}
#header {
  background-color: pink;
  padding: 10px;
  h1 {
    margin-left: 20px;
    font-size: 100px;
    text-align: center;
    text-shadow: 10px 5px 10px white;
    font-weight: bold;
  }
}

#main {
  display: flex;
  height: 616px;
}

#left {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
  background-color: pink;
  width: 25%;
  border-top: 5px solid black;
  border-right: 5px solid black;
  overflow: hidden;
  span {
    @include left-span;
    &:hover {
      background-color: white;
      color: black;
      border: 3px solid black;
      cursor: pointer;
    }
  }

  h3 {
    font-size: 25px;
    text-decoration: underline;
  }

  #addProject_div {
    display: none;

    #addProject_Input {
      width: 100%;
      padding: 10px;
      margin: 5px 0px;
    }
    button {
      padding: 10px;
      width: 155px;
    }
  }
}
#right {
  width: 75%;
  padding: 20px;
  border-top: 5px solid black;
  #display-inbox {
    display: block;
    h3 {
      font-size: 50px;
    }
    button {
      padding: 10px;
      width: 100%;
    }
    #addTask_div {
      display: none;
      #addTask_Input {
        width: 100%;
        padding: 10px;
        margin: 5px 0px;
      }
      button {
        padding: 10px;
        width: 49.8%;
      }
    }
  }
  #display-today {
    display: none;
    h3 {
      font-size: 50px;
    }
  }
  #display-thisweek {
    display: none;
    h3 {
      font-size: 50px;
    }
  }
}

// Style Project Left
.project_span {
  display: flex;
  justify-content: space-between;
  @include left-span;
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  .closeSign {
    opacity: 0;
    border: 2px solid white;
    &:hover {
      opacity: 1;
    }
  }
}

// Style Project Right
.rightDiv {
  h1 {
    font-size: 50px;
  }
  button {
    padding: 10px;
    width: 100%;
  }
  .taskdiv {
    display: none;
    button {
      padding: 10px;
      width: 49.8%;
    }
    input {
      width: 100%;
      padding: 10px;
      margin: 5px 0px;
    }
  }
}

.taskdiv {
  display: none;
  input {
    width: 100%;
  }
  button {
    width: 25%;
  }
}

// Fix Bellow
.todo-div {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
}

.div-todo-img {
  border: 2px solid black;
  border-radius: 100%;
  padding: 8px;
}
